
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/Layout_testowy.cshtml";
}

<h2>O nas, Wójcik-trans</h2>
<div class="Tresc_onas">
    <p> Nasza firma zajmuje sie transferem osób z Gdańska i okolic, </p>
    <p> Rozpoczelismy prace w 2019 roku.</p>
</div>

