
<div class="top1_wrapper">
    <img src="images/bg1.jpg" alt="" class="bg1">
    <div class="top1_inner clearfix">
        <div class="top2_wrapper">
            <div class="container">
                <div class="top2 clearfix">
                    <header><div class="logo_wrapper"><a href="index.html" class="logo"><img src="images/logo.png" alt=""></a></div></header>
                    <div class="menu_wrapper">
                        <div class="phone1_wrapper clearfix"><div class="phone1">1 800 123 4567</div></div>
                        <div class="navbar navbar_">
                            <div class="navbar-inner navbar-inner_">
                                <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                <div class="nav-collapse nav-collapse_ collapse">
                                    <ul class="nav sf-menu clearfix">
                                        <li class="active"><a href="index.html">home</a></li>
                                        <li><a href="index-1.html">about</a></li>
                                        <li class="sub-menu sub-menu-1">
                                            <a href="index-2.html">service</a>
                                            <ul>
                                                <li><a href="index-2.html">limo service</a></li>
                                                <li class="sub-menu sub-menu-2">
                                                    <a href="index-2.html">airport transfer<em></em></a>
                                                    <ul>
                                                        <li><a href="index-2.html">lorem ipsum dolor</a></li>
                                                        <li><a href="index-2.html">sit amet</a></li>
                                                        <li><a href="index-2.html">adipiscing elit</a></li>
                                                        <li><a href="index-2.html">nunc suscipit</a></li>
                                                        <li><a href="404.html">404 page not found</a></li>
                                                    </ul>
                                                </li>
                                                <li class="sub-menu sub-menu-2">
                                                    <a href="index-2.html">wedding<em></em></a>
                                                    <ul>
                                                        <li><a href="index-2.html">lorem ipsum dolor</a></li>
                                                        <li><a href="index-2.html">sit amet</a></li>
                                                        <li><a href="index-2.html">adipiscing elit</a></li>
                                                        <li><a href="index-2.html">nunc suscipit</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="index-3.html">fleet</a></li>
                                        <li><a href="index-4.html">prices</a></li>
                                        <li><a href="index-5.html">contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top3_wrapper">
            <div class="container">
                <div class="top3 clearfix">
                    <div id="slider_wrapper">
                        <div class="">
                            <div id="slider_inner" class="clearfix">
                                <div id="slider" class="clearfix">
                                    <div id="camera_wrap">
                                        <div data-src="images/slide1.jpg">
                                            <div class="camera_caption nav1 fadeIn">
                                                <div class="txt1">LUXURY<br>LIMOUSINES</div>
                                            </div>
                                        </div>
                                        <div data-src="images/slide2.jpg">
                                            <div class="camera_caption nav2 fadeIn">
                                                <div class="txt1">wedding<br>LIMOUSINES</div>
                                            </div>
                                        </div>
                                        <div data-src="images/slide3.jpg">
                                            <div class="camera_caption nav3 fadeIn">
                                                <div class="txt1">premium<br>business vehicles</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="car1_wrapper clearfix"><img src="images/car1.png" alt="" class="img"></div>
    </div>
</div>